@media screen and (min-width: 200px) and (max-width: 650px) {
  .block-img {
    background: rgba(255, 255, 255, 0.02) !important;
    border-radius: 10px !important;
    padding: 13px !important;
    margin: 5px 4px !important;
    border-radius: 10px !important;
  }
  .PartnerTitle {
    font-weight: 700 !important;
    font-size: 32px !important;
    margin-bottom: 2rem !important;
    color: #d0d4de;
  }
}
